$def with (output, now)

<body onload="draw($output[0]['s_rate']);">
  $ errors = 0
  $ color = "green"
  <div>
    <div class="menu">
      <div class="column">
        <p style="float: left;"><a href="/">Home</a> | <a href="/help">Help</a></p>
      </div>
      <div class="column">
        <p style="float: right;">update: $now.day/$now.month/$now.year, $now.hour:$now.minute:$now.second</p>
      </div>
    </div>
    <div class="mosaic">
      <div class="wrapper">
        $for server in range(len(output)):
          $code:
            errors = 0
            color = "green"

          $for check in output[server]['result'].keys():
            $ isError = output[server]['result'].get(check)
            $if isError != 0:
              $code:
                errors=errors+1
            $if errors > 0:
              $code:
                color = "red"
            <button class="accordion ${color}" onmouseenter="draw($output[server]['s_rate'])">$output[server]['name']: $errors error(s)</button>
        $for server in range(len(output)):
          $code:
            errors = 0
            color = "green"

          $for check in output[server]['result'].keys():
            $ isError = output[server]['result'].get(check)
            $if isError != 0:
              $code:
                errors=errors+1
            $if errors == 0:
              $code:
                color = "green"
            <button class="accordion ${color}" onmouseenter="draw($output[server]['s_rate'])">$output[server]['name']</button>
      </div>
    </div>
    <div classe="infos">
      <div class="canvas-graph">
        <div class="canvas-header">
          <h2 style="margin: 0">$output[server]['name']</h2>
        </div>
        <canvas id="canvas" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
</body>

<script src="static/monit-dashboard.js" type="text/javascript"></script>
